/* Primary Components */
body {
    background: white;
    margin: 0px;
}

a h1, h2, h3 {
    color: black;
    text-align: center;
}

a{
    color:black;
    text-decoration: none;
}

.color-matrix{
    color: green;
}

.content{
    width: 100%;
    margin:auto;
    text-align: center;
}

.content-item{
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid #c3c3c3;
    margin-bottom: 10px;
}

.content-item h2{
    border-bottom: 2px solid c3c3c3;
    background-color: lightgray;
    margin: 0;
}

.content h1,h2,h3{
    text-align: left;
}

.horiz-nav-bar{
    text-align: center;
    border-bottom: 2px solid lightgray;
}

.horiz-nav-bar div{
    width: fit-content;
    background-color: #00f3ff;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 15px auto;
}

.horiz-nav-bar a{
    text-decoration: none;
    font-size: xx-large;
    font-weight: 900;

}

/* Util */

.collapsible{
    width:100%;
}

.collapsible .collapse-control{
    float: right;
}

.collapsible .collapse-controll button{

}

.tooltip-parent{
    position: relative;
}

.tooltip-parent:hover .tooltip{
    visibility: visible;
    opacity: 1;
}

.tooltip{
    visibility: hidden;
    text-align: center;
    position: absolute;    
    z-index: 1;
    opacity: 0;
    transition: opacity .5s;
    background-color: #555555;
    color: white;
    padding: 3px;
    min-width: fit-content;
    left: 0;
    bottom: 125%;
}

.spacer{
    /*width:100%;*/
    border-bottom: 1px solid gray;
    margin: 35px 0 35px 0;

    -webkit-border-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(.1, #000), color-stop(.5, #FFF), color-stop(.9, #000)) 100;
}

.switch{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.switch input{
    display:none;
}

.slider{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
}

input:not(checked) + .slider{
    background-color: red;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}

.hover-react-color:hover{
    background-color: lime;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.error{
    color:red;
    font-weight: bold;
}

/* Displays */
.data-table{
    padding: 30px;
    background-color: darkgray;
    border: 3px groove gray;
    width:100%;
}

.data-table thead tr{
    text-align: center;
}

.data-table tr{
    border-bottom: 2px solid black;
    text-align: right;
    background-color:lightgray;
}

table .element-td-dark{
    background-color: darkgray;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.slider::before{
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.container-side-by-side{
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 10px;
}

.container-left{
    height: 100%;
    width: 50%;
    float: left;
}

.container-right{
    height: 100%;
    width: 50%;
    float: right;
}

.container-right h1,h2,h3{
    text-align: center;
}

.container-right div{
    margin: 20px 0;
    padding: 10px;
    background-color: lightgray;
}

/* Common */

#header{
    width:100%;
    border-bottom: 15px inset #009c9c;
    overflow: hidden;
}

#header a{
    float:right;
    padding: 10px 10px;
    text-decoration: none;
}

#header-logo{
    display: inline-flex;
    margin-left: 20%;
}

#header-logo a{
    background: none;
    border:none;
    padding: 0;
}

#search-bar{
    float:left;
    padding:10px;
}

#search-bar ::placeholder{
    font-style: italic;
    opacity: .5;
}

#link-box{
    margin-top: 60px;
    flex-wrap: wrap;
}

#link-box span{
    margin: 12px;
    display:inline-block;
}

#link-box a{
    text-decoration: none;
    margin: 4px 15px 4px 15px;
    font-weight:bold;
}

/* Forms */
.login{
    width: 50%;
    display:inline-block;
    text-align:center;
    margin-top: 20px;
    padding: 20px;
    background-color: lightgray;
    min-width: 190px;
}

.login form input:not([name=-token]){
    margin-top:10px;
    border:thin transparent solid;
    padding: 8px;
    border-radius: 9px;

    color:white;
    background-color: darkgrey;

    width: 50%;
    max-width: 350px;
    min-width: 180px;
}

.login form label:not(.switch){
    float: left;
    font-weight: bold;
    margin-top:10px;
    padding-top: 9px;
    width:100%;
    text-align: center;
}

.login form input.form-submit{
    width: 80%;
}

#password-toggle-container{
    display:inline-flex;
    margin: 8px;
}

#password-toggle-container label:not(.switch){
    margin:0;
}

/* Home */
.home-header{
    background-image: url("/images/banner.png");
    background-repeat: no-repeat;
    height: 500px;
    padding: 20px;
}

.home-header h1,h3{
    color:black;
    margin: 5px;
    padding:5px;
}

.home-header div{
    background-color: #00f3ff;
    margin: auto;
}

.home-header nav div{
    max-width: 600px;
    padding: 0px 30px;
    margin: auto;
    border-radius: 20px;
}

.home-header div a, h1{
    color:#7b7b7b;
    font-family: monospace, sans-serif;
    background: none;
    text-decoration: none;
}

#getting-started button{
    width:100%;
    border:none;
    padding:10px;
    background-color: #ccc71c;
}

#getting-started p{
    padding: 20px;
}

#popular-slider{
    width:100%;
    min-height: 220px;
    background-color: #cc451c;
    flex: 100%;
    order: 3;
}

.home-content-link div{
    background-color: lightgray;
    margin: 5px;
}

/* Account */
.left-container{
    min-width: 316px;
    height: 100%;
    float:left;
    flex: 1 1 0; 
}

.right-container{
    border: 8px groove #8a8a8a;
    min-width: 200px;
    width:inherit;
    float:right;
    background-color: rgb(180, 180, 180);
    flex: 1 1 0;
}

.upper-container{
    border-bottom: 3px groove white;
}

.lower-container{
    border-bottom: 3px groove white;
}

.upper-container img{
    margin: 30px;
}

#profile-header{
    margin-bottom: 40px;
}

#favorites-panel{

}

.fav-item{
    height: 50px;
    background: green;
    margin: 5px;
}

.submitted-item{
    height: 150px;
    background:blue;
    margin:5px;
}

.blog-item{
    height: 150px;
    background:red;
    margin:5px;
}

/* Management */

.manage-content{
}

#manage-sidebar{
    min-width: 200px;
    width:100%;
    border: 3px groove darkgray;
    background-color: lightgray;
    color:black;
    height:-webkit-fill-available;
    flex: .1;
}

#manage-sidebar button{
    text-decoration: none;
    color:black;
    font-weight: bold;
    margin:5px;
    width:90%;
}

.manage-sidebar-title, .manage-sidebar-item{
    border: 4px groove darkgray;
    min-height:40px;
}

#manage-main{
    background-color:lightgray;
    width:100%;
    flex: 1;
    border: 3px groove darkgray;
}

.manage-main-block{
    border: 3px groove darkgray;
}

.terminal{
    width:100%;
    max-width: -webkit-fill-available;
    height: -webkit-fill-available;
    padding:20px;
}

.terminal textarea{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    resize:none;
    background-color: black;
}

/* Topics */
.slot-entry{
    margin: 0 10px;
    background-color: gray;
    text-align: left;
    font-size: xx-large;
    color: white;
    margin: 20px;
}

.slot-entry a{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: white;
    margin: 10px 3px;
    padding-left: 5%;
}

#tutorial-space{
    width: 90%;
    margin: auto;
}

#tutorial-space .tutorial-block{
    border-left: 3px double gray;
    border-right: 3px double gray;
}

.tutorial-block .tutorial-body{
    width: 90%;
    margin: auto;
    /*color: white;*/
}

.tutorial-block span{
    float: right;
    padding-right: 10%;
}

.tutorial-block .tutorial-title{
    text-align: center;
}



/* Component Themes */




/* Responsive */

@media only screen and (max-width: 1400px){
    .home-header{
        background-image: url("/images/banner_1400.png");
        height: 350px;
    }

    .home-header nav{
        float:right;
        max-width: 300px;
    }
}

@media only screen and (max-width: 640px){
    .home-header{
        background-image: url("/images/banner_600.png");
        height: 200px;
    }
}