/* Primary Components */
body {
    background: #c5c386;
}

h1, h2, h3 {
    color: white;
    text-align: center;
}

a{
    color:white;
}

.color-matrix{
    color: greenyellow;
}

/* Util */

.spacer{
    /*width:100%;*/
    border-bottom: 1px solid gray;
    margin: 35px 0 35px 0;

    -webkit-border-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(.1, #000), color-stop(.5, #FFF), color-stop(.9, #000)) 100;
}

.switch{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.switch input{
    display:none;
}

.slider{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
}

input:not(checked) + .slider{
    background-color: red;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}

.error{
    color:red;
    font-weight: bold;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.slider::before{
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

/* Common */
.content{
    width: 80%;
    text-align: center;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:auto;
}

.content div{
    margin: 6px;
}

#header{
    width:100%;
    border-bottom: 2px inset gray;
    overflow: hidden;
}

#header a{
    float:right;
    padding: 10px 10px;
    text-decoration: none;
}

#header-logo{
    display: inline-flex;
    margin-left: 20%;
}

#header-logo a{
    background: none;
    border:none;
    padding: 0;
}

#search-bar{
    float:left;
    padding:10px;
}

#search-bar ::placeholder{
    font-style: italic;
    opacity: .5;
}

#link-box{
    margin-top: 60px;
    flex-wrap: wrap;
}

#link-box span{
    margin: 12px;
    display:inline-block;
}

#link-box a{
    text-decoration: none;
    margin: 4px 15px 4px 15px;
    font-weight:bold;
}

/* Forms */
.login{
    width: 50%;
    display:inline-block;
    text-align:center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 25px;
    background-color: darkcyan;
    min-width: 190px;
}

.login form input:not([name=-token]){
    margin-top:10px;
    border:thin transparent solid;
    padding: 8px;
    border-radius: 9px;

    color:white;
    background-color: darkgrey;

    width: 50%;
    max-width: 350px;
    min-width: 180px;
}

.login form label:not(.switch){
    float: left;
    font-weight: bold;
    margin-top:10px;
    padding-top: 9px;
    width:100%;
    text-align: center;
}

.login form input.form-submit{
    width: 80%;
}

#password-toggle-container{
    display:inline-flex;
    margin: 8px;
}

#password-toggle-container label:not(.switch){
    margin:0;
}

/* Home */
#search-by-topic{
    order: 0;
    flex: 1 1 0;
    background-color: #1cbbcc;
    width: 40%;
}

#getting-started{
    order: 1;
    flex: 1 1 0;
    background-color: #1ccc2a;
    width: 60%;
    font-family: monospace;
}

#getting-started button{
    width:100%;
    border:none;
    padding:10px;
    background-color: #ccc71c;
}

#getting-started p{
    padding: 20px;
}

#popular-slider{
    width:100%;
    min-height: 220px;
    background-color: #cc451c;
    flex: 100%;
    order: 3;
}

/* Account */
.left-container{
    min-width: 316px;
    height: 100%;
    float:left;
    flex: 1 1 0; 
}

.right-container{
    border: 8px groove #8a8a8a;
    min-width: 200px;
    width:inherit;
    float:right;
    background-color: rgb(180, 180, 180);
    flex: 1 1 0;
}

.upper-container{
    border-bottom: 3px groove white;
}

.lower-container{
    border-bottom: 3px groove white;
}

.upper-container img{
    margin: 30px;
}

#profile-header{
    margin-bottom: 40px;
}

#favorites-panel{

}

.fav-item{
    height: 50px;
    background: green;
    margin: 5px;
}

.submitted-item{
    height: 150px;
    background:blue;
    margin:5px;
}

.blog-item{
    height: 150px;
    background:red;
    margin:5px;
}

/* Management */

.manage-content{
    float:left;
    width:250px;
}

#manage-sidebar{
    min-width: 200px;
    width:100%;
    border: 3px groove black;
    background-color: lightgray;
    color:black;
    height:-webkit-fill-available;
}

#manage-sidebar button{
    text-decoration: none;
    color:black;
    font-weight: bold;
    margin:5px;
    width:90%;
}

.manage-sidebar-title, .manage-sidebar-item{
    border: 4px groove darkgray;
    min-height:40px;
}

/* Component Themes */







/* Responsive */